html, body {
  height: 100%;
}

.intro {
  height: 81%;
  width: 100%;
  display: table;
  background: ;
}

.intro-text {
  color: x;
  max-width: 600px;
  margin: 0 auto;
  vertical-align: middle;
  display: table-cell;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

#footer {
  padding-top: 2rem;
}