body {
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 60px;
    }
  }

/* Globals */

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;   
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: light;
    line-height: 32px;
    font-size: 24px;
}


p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    opacity: ;
    
}

i {
    opacity: ;
}

/* Title Link */

a.largeLink {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #212529;

    border-bottom: 2px solid rgba(192, 192, 192, 0);
    /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
    
    -webkit-transition: border 400ms ease;
    -moz-transition: border 400ms ease;
    -ms-transition: border 400ms ease;
    -o-transition: border 400ms ease;
    transition: border 400ms ease;
}
@media (max-width: 979px) {
    a.largeLink {
      font-size: 18px;
    }
  }

a.largeLink:hover {
    color: #212529;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none; 
    
    border-bottom: 2px solid #212529;
}

/* Body Link */

a {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #212529;

    border-bottom: 2px solid rgba(192, 192, 192, 0);
    /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
    
    -webkit-transition: border 400ms ease;
    -moz-transition: border 400ms ease;
    -ms-transition: border 400ms ease;
    -o-transition: border 400ms ease;
    transition: border 400ms ease;
}
@media (max-width: 979px) {
    a {
      font-size: 18px;
    }
  }

a:hover {
    color: #212529;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none; 
    
    border-bottom: 2px solid #212529;
}

img {
    max-width: 100%;
    height: auto;
}

#caption  {
    font-style: italic;
    margin-bottom: 0px;
}
@media (max-width: 979px) {
    #caption {
        margin-bottom: 15px;
    }
  }

#component /* Spacing of page rows */ {
    padding-top: 130px;
}
@media (max-width: 979px) {
    #component {
        padding-top: 80px;
    }
  }

#footerComponent /* Spacing of page rows */ {
    padding-top: 130px;
    padding-bottom: 35px;
}
@media (max-width: 979px) {
    #footerComponent {
        padding-top: 80px;
        padding-bottom: 16px;
    }
  }

#handCode {
    text-align: right;
}
@media (max-width: 979px) {
    #handCode {
        text-align: left;
    }
  }

/* Navbar */

#navbarNav {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    padding: 0px;
}

.navbar {
    padding-top: 35px;
    padding-bottom: 25px;
}

#navLink {
    margin-left: 15px;
}
@media (max-width: 979px) {
    #navLink {
      font-size: 18px;
      margin-left: 8px;
    }
  }

/* Portfolio grid */

#gridImage {
    margin-bottom: 15px;
}

#gridText {
    margin-bottom: 50px;
    font-style: italic;
}

/* Link hover underline */

a#fade_success {
    border-bottom: 3px solid rgba(192, 192, 192, 0);
    /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
    
    -webkit-transition: border 400ms ease;
    -moz-transition: border 400ms ease;
    -ms-transition: border 400ms ease;
    -o-transition: border 400ms ease;
    transition: border 400ms ease; 
  }
  a#fade_success:hover {
    border-bottom: 3px solid #212529;
  }

/* Vertical text */

  .vertical {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
      
    background: #E23737;
    color: #fff;
    margin-left: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    border: 1px solid #B52C2C;
    text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px -2px 0px rgba(0, 0, 0, 0.1);
    float: left;
    cursor: vertical-text;
    z-index: 200;
    }